.candidate-dashboard {
  width: 100%;
}

.header-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-info .info-pic {
  width: 124.25px;
  height: 124.25px;
  max-width: 124.25px;
  flex-shrink: 0;
}

.info-pic img {
  width: 100%;
}

.info {
  display: flex;
  width: 449.89px;
  max-width: 449.896px;
  padding: 0px 15px 10px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  flex-shrink: 0;
}

.info h1 {
  color: #2166a4;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
}

.info p {
  color: #444;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.info span {
  color: #737373;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.flx {
  display: flex;
  align-items: center;
  gap: 1px;
}

.btn-email {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.edit-profile {
  margin: 0px auto;
  display: flex;
  gap: 10px;
  padding: 10px 5px;
  border-radius: 4px;
  background: #e83f6f;
  color: #fff;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}

.acct-info {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
}

.info-cont {
  margin-top: 30px;
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #f3f6ff;
}

.info-cont img {
  width: 36px;
  height: 36px;
}

.info-cont h1 {
  color: #5e2dfa;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 100% */
}

.info-cont p {
  color: #333;
  text-align: center;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 100% */
}

.job-follow {
  display: flex;
  background: #fff;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 350px;
  padding: 30px;
}

.job-follow .jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.job-follow .job,
.job-follow .follow {
  display: flex;
  /* width: 529px; */
  padding: 30px 20px 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  border-radius: 5px;
  background: #f1f5ff;
}
.job-follow .job p,
.follow p {
  color: #515050;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
}

.job-follow .job h1 {
  color: #2166a4;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.job-follow .job span {
  color: #828282;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.job-follow .follow h1 {
  color: #212529;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
}

.job-follow .follow p {
  color: #212529;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 157.143% */
}
.job-follow .follow span {
  color: #17d27c;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.job-follow .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.job .flx,
.follow .flx {
  display: flex;
  gap: 5px;
}
