.stepfour {
  width: 100%;
  background: #fff;
  padding: 76px 0 187px 0;
}

.stepfour .personal-details-header {
  width: 100%;
}

.stepfour-container {
  padding-top: 30px;
  /* width: 64%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 86px;
}

.stepfour-container .qualification-cont {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
}

.qualification-cont h1 {
  display: flex;
  width: 412px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0a65cc;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.stepfour-container .qualification-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.qualification-main .main-label {
  color: #999;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.list-qualification {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.drivers-license,
.first-aid,
.it,
.software,
.certification {
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: flex-start;
}

.drivers-license-main,
.first-aid-main,
.it-main,
.software-main,
.certification-main {
  display: flex;
  width: 176px;
  height: 44px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #ddd;
  background: #fff;
}

.drivers-license-main label,
.first-aid-main label,
.it-main label,
.software-main label,
.certification-main label {
  color: #495057;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.drivers-license-main input,
.first-aid-main input,
.it-main input,
.software-main input,
.certification-main input {
  width: 28px;
  height: 24px;
  padding: 10px 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
}

.drivers-license .last,
.first-aid .last,
.it .last,
.software .last,
.certification .last {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 8px 16px 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #ddd;
  background: #fff;
}

.drivers-license .last::placeholder,
.first-aid .last::placeholder,
.it .last::placeholder,
.software .last::placeholder,
.certification .last::placeholder {
  width: 100%;
}

.new-qualification-btn button {
  display: inline-flex;
  padding: 7px 20px 8px 13px;
  align-items: center;
  gap: 4px;
  border-radius: 3px;
  border: 1px solid #008d4c;
  background: #00a65a;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.skill-expert-cont {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.skill-expert-cont h1 {
  display: flex;
  width: 412px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0a65cc;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.beginner-intermediate-expert {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}

.beginner-intermediate-expert label {
  color: #999;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

tr .one {
  /* display: flex; */
  padding: 11.5px 294.47px 13.5px 12.5px;
  align-items: flex-start;
  color: #0a65cc;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

tr .two {
  /* display: flex; */
  padding: 11.5px 113.05px 13.5px 12.5px;
  align-items: flex-start;
  color: #0a65cc;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

tr .three {
  display: flex;
  flex-direction: row;
  padding: 11.5px 113.05px 13.5px 12.5px;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

tr .three div {
  width: 0px;
  height: 20px;
  border: 1px solid #212529;
}

tr .three .edit {
  color: #ffc107;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  cursor: pointer;
}

tr .three .delete {
  color: #dc3545;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
}

.add-new-skill-btn button {
  display: inline-flex;
  padding: 7px 20px 8px 13px;
  align-items: center;
  gap: 4px;
  border-radius: 3px;
  border: 1px solid #008d4c;
  background: #00a65a;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.references-cont {
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: flex-start;
}

.references-cont h1 {
  display: flex;
  width: 412px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0a65cc;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.position-company {
  display: flex;
  gap: 15.25px;
  align-items: center;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.position-district {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
}

.position-held-name {
  display: flex;
  width: 412.75px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
}

.position-company label,
.phone label,
.employment-status label,
.email label,
.phone-mobile label,
.motivation-input label {
  color: #999;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.position-company input,
.phone input,
.email input,
.phone-mobile input {
  width: 100%;
  padding: 10px 0px;
  align-items: flex-start;
  border: 1px solid #ddd;
  background: #fff;
}

.position-company input::placeholder,
.phone input::placeholder,
.email input::placeholder,
.phone-mobile input::placeholder {
  color: #495057;
  padding: 15px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.company-address {
  display: flex;
  width: 412.75px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
}

.company-institution {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.company-institution-name {
  display: flex;
  width: 412.75px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
}

.company-district {
  display: flex;
  width: 412.75px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
}

.phone,
.email,
.phone-mobile {
  display: flex;
  width: 412.75px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
}

.phone-mobile {
  display: flex;
  margin: 0px auto;
}

.motivation-cont {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: flex-start;
}

.motivation-cont h1 {
  display: flex;
  /* width: 412px; */
  padding: 11px 64px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #0a65cc;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.motivation-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
}

.motivation-input textarea {
  display: flex;
  width: 882.75px;
  height: 148px;
  padding: 14px 55.8px 14px 17px;
  align-items: center;
  border: 1px solid #ddd;
  background: #fff;
}

.attach-upload {
  display: inline-flex;
  height: 34px;
  padding: 7px 6px 8px 20px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #008d4c;
  background: #00a65a;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.outside-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}

.add-new-user-btn {
  display: flex;
  gap: 5px;
  width: 133.61px;
  padding: 11px 3px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #008d4c;
  background: #00a65a;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.back-next-btn {
  display: flex;
  gap: 62px;
  align-items: center;
}

.back-btn {
  display: flex;
  width: 269px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #000;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}

.next-btn {
  display: flex;
  width: 269px;
  padding: 11px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #0a65cc;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
