.single-advert-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 9px;
}

.single-advert-position {
  text-align: center;
  width: 78%;
  background: #3c76bc;
  padding: 10px 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.single-advert-position p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.single-advert-container button {
  width: 20%;
  border: 3px solid #385d87;
  background: #fff;
  color: #1aa260;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 500px) {
  .single-advert-container button {
    font-size: 16px;
  }
}
